* {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    height: 98vh;
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;   
}
main {
    flex-direction: column;
    display: flex;
    flex: 1;
}
#header-menu {
    display: inline-block;
}
.bar1, .bar2, .bar3 {
    width: 24px;
    height: 4px;
    background-color: #7d7d7d;
    margin: 6px 0;
    transition: 0.4s;
}
.close .bar1 {
    transform: rotate(-45deg) translate(-10px, 6px);
    width: 36px;
    height: 6px;
}
.close .bar3 {
    transform: rotate(45deg) translate(-9px, -6px);
    width: 36px;
    height: 6px;
}
.close .bar2 {
     opacity: 0;
}
#header {
    background-color: #ce8532;
    background: linear-gradient(40deg, #ce8532, #d4aa7a);
    padding: 1rem;
}
#article {
    background-color: rgb(177, 194, 201);
    background: linear-gradient(40deg, rgb(177, 194,201), rgb(226, 226, 226));
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 3;
    color: black;
}
.card {
    box-shadow: 0px 4px 4px -3px black;
    color: black;
    flex-direction: row;
    display: flex;
    flex: 1;
    border-radius: 10px;
    height: 10rem;
    margin: 1rem;
    background-color: whitesmoke;
    justify-content: space-evenly;
}

.card h2 {
    font-size: smaller;
}

.center-container {
    display: flex;
    flex-direction: column;
}
.clock-container {
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: space-around;
    
}
#navbar {
    background-color: #2E4A57;
    display: none;
}
#aside {
    background-color: #AFDCF0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    flex: 1 5rem;
}
#footer {
    background-color:rgb(134, 123, 111);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.header-brand {
    text-align: left;
    margin-left: 5px;   
}
.header-button {
    float: right;
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    margin: -8px 8px;
    box-shadow: 0px 4px 4px -3px black;  
}
.copyright {
    text-align: center;
    font-size: smaller;
}
#nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.check-nav {
    height: 1.7rem;
    width: 1.7rem;
    margin: 5px;
}
#nav-list hr {
    width: 60%;
    margin: auto;
}
.nav-content {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 2rem;
}
.header-container {
    text-align: center;
}

@media (min-width: 400px )  {
  
    body {
        flex-direction: column;
    }
    .main-without-nav {
        display: flex;
        flex: 1;
    }
    #navbar {
        background-color: #0CA2B3;
        flex: 0;
        padding-top: 0rem;
        padding-bottom: 1rem;
        flex: 1 5rem;
    }
    #nav-list hr {
        width: 60%;
        margin: initial;
    }
    .nav-content {
        margin-left: 0rem;
    }
    #nav-list {
        margin-left: 30%;
    }
    #article {
        background-color:#3BEBFF ;
        background: linear-gradient(40deg,#3BEBFF, rgb(148, 241, 252));
        flex-direction: column;
        flex: 2;
        display: flex;
    }
    #aside {
        background-color:#21EAFF ;
        background: linear-gradient(40deg,#21EAFF, rgb(148, 241, 252));
        flex-direction: column;
        display: flex;
        flex: 1;
    }
    #header {
        background-color:#B34C00 ;
        padding: 1rem;
    }
    #footer {
        background-color:#FF7F21 ;
        background: linear-gradient(40deg,#FF7F21,rgb(250, 162, 98)) ;
    }
    .card h2 {
        font-size: medium;
    }
}

@media (min-width: 800px) {
    body {
        flex-direction: column;
    }
    main {
        flex-direction: row;
        flex: 1;
    }
    .main-without-nav{
        flex: 3;
    }
    #navbar {
        background: linear-gradient(40deg, #2e2e2e, #444444);
        flex: 1;
        
    }
    #article {
        background: linear-gradient(40deg, #7b2cc5, #8d68be);
    
    }
    #aside {
        background: linear-gradient(40deg, #7b2cc5, #8d68be);
        
    }
    #header {
        background: linear-gradient(40deg, #390966, #4c277e);
        
    }
    #footer {
        background: linear-gradient(40deg, #000000, #363636);
    }
 
    .card h2 {
        font-size: x-large;
    }
    #nav-list {
        margin-left: 1rem;
        text-align: left;
        font-size: smaller;
    }
}
